<% @walks.each do |walk| %>
<p><%= walk.starttime.strftime("%A, %B %-d at %-l:%M%P") %>
	<br>
	<%= walk.dog.name %>
</p>
<% end %>
<footer>
  <%= link_to "Show dogs", dogs_path %> | <%= link_to "Schedule a new walk", new_walk_path %>
</footer>